<%= render 'shared/header' %>

   <div class="top-wrapper">
      <div class="container">
        <h1>絶対に失敗しない。<br>"Genziダイエットスクール"</h1>
        <h1>化学的根拠に基づいたダイエット方法であなたを必ず痩せさせます</h1>
        <p>Genziダイエットスクールとは？</p>
        <p>ダイエットをするうえでの重要な知識、化学的根拠に基づいたダイエット法、</p>
        <p>ダイエットで挫折しないためのマインドが網羅されているスクールです。</p>
        <div class="btn-wrapper">
        <a href="https://note.com/diet_life" class="btn school">スクールに入校する</a>
        </div>
      </div>
    </div>

    <div class="lesson-wrapper">
      <div class="container">
        <div class="heading">
          <h1>こんな方にオススメです！</h1>
        </div>
        <div class="lessons">
          <div class="lesson">
            <div class="lesson-icon">
              <%= image_tag("keyboard-621832_640.jpg", class:"image-one", size: '250x250') %> 
              <p>過去にダイエットに失敗</p>
            </div>
            <p class="text-contents">142kg~76Kgのダイエットに成功しているスクール講師のGenziがダイエットで躓きやすいポイントや、必要な知識をマンツーマンでサポートします。講師であるGenziも過去に何度もダイエットに失敗しています。数々の失敗を体験することにより得た知識をあなたに惜しみなく全てお伝えします。</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <%= image_tag("clock-3179167_640.jpg", class:"image-one", size: '250x250') %> 
              <p>ダイエットする時間がない</p>
            </div>
            <p class="text-contents">ダイエットは時間がなくてもしっかりとした知識を身に付けてさえいれば必ず痩せます。時間がなくてもダイエットが出来る、カリキュラム内容になっています</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
              <%= image_tag("diet_three.jpg", class:"image-one", size: '250x250') %> 
              <p>健康的に痩せたい</p>
            </div>
            <p class="text-contents">近年、無理な運動や極度な食事制限（ファスティングなど）が流行っていますが、スクール内容を忠実に再現出来れば身体に負担を掛けず、理想のスタイルを手に入れ、健康的に痩せられます</p>
          </div>
          <div class="lesson">
            <div class="lesson-icon">
             <%= image_tag("question-mark-3483960_640.jpg", class:"image-one", size: '250x250') %> 
              <p>ダイエット方法がわからない</p>
            </div>
            <p class="text-contents">わからなくてもOKです！自己流でのダイエットとなると遠回りしたり、痩せたとしてもなぜ痩せたのかを理解していなくリバウンドするパターンがほとんどです。スクールでは基礎的な知識、ダイエットの本質を学ぶことが出来ます</p>
          </div>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <div class="message-wrapper">
        <div class="heading">
          <h2>Genziダイエットスクールで得られること</h2>
        </div>
        <div class="wrapper-container">
        <div class="message-wrapper-third">
            <p>☑️ ダイエットで遠回りをしないために無駄省き、効率性を求めたダイエット方法</p>
            <p>☑️ 無理なダイエットはせず、健康的に自分の理想の体型を手に入れることが出来る</p>
            <p>☑️ 痩せた後でもリバウンドしないための知識、習慣が身に付く</p>
            <p>☑️ 痩せて理想の自分、未来を手に入れることが出来る</p>
          </div>
          <div class="message-wrapper-second">
            <%= image_tag("training-5069846_640.jpg", class:"wrapper-image", size: '300x300') %>
          </div>
          
        </div>
    </div>

    <div class="form-wrapper">
        <div class="heading">
          <h2>スクール講師の『Genzi』とは？</h2>
        </div>
        <div class="wrapper-container">
        <div class="message-wrapper-second">
            <%= image_tag("IMG_3263.JPG", class:"wrapper-image", size: '300x300') %>
          </div>
          <div class="message-wrapper-third">
            <p>元力士で現役体重時は142Kg。現在は76Kgと大幅なダイエットに成功しているが、数々の失敗、挫折を繰り返す。その失敗や挫折から得た経験、知識で数々の方をダイエット成功に導く。<br>
            誰よりも心身に向き合い、生徒さんのダイエットと幸せを一番に願う、今一番アツいダイエット講師。それが『Genzi』です！</p>
            
          </div>
        </div>
    </div>

    <div class="message-wrapper">
      <div class="container">
        <div class="heading">
          <h2>一キロでも痩せなければ全額返金保証付き！</h2>
          <h3>さあ、人生最後のダイエットにしませんか？</h3>
        </div>
        <a href="https://note.com/diet_life" class="btn message">スクールに入校する</a>
      </div>
    </div>
    

<%= render 'shared/footer' %>