<%= render 'shared/header' %>

<div class="second-main">
  <div class="container one">
    <div class="heading">
      <h2>よくある質問</h2>
    </div>

  
    <a id="reload" onclick="window.location.reload();" class="btn message">画像が上手く表示されない時はこのボタンを押してください</a>
    

    <div class="message-wrapper">
        <div class="heading">
          <h2>Q, ダイエットサプリを飲んでも痩せられません泣</h2>
        </div>
        <div class="wrapper-container">
        <div class="message-wrapper-second">
            <%= image_tag("blank-profile-picture-973460_640.png", class:"wrapper-image", size: '300x300') %>
          </div>
        <div class="message-wrapper-third">
            <p>
            テレビやネットでも宣伝され、有名人も使って痩せているサプリなのにどうしてか痩せません。。。<br><br>ちゃんと用法、容量も守っています。私には効かないサプリ、もしくは私は病気なんでしょうか・・・？</p>
            
          </div>
        </div>
    </div>
    <div class="message-wrapper">
        <div class="heading">
          <h2>A, ダイエットサプリだけでは痩せられません !</h2>
        </div>
        <div class="wrapper-container">
        <div class="message-wrapper-third">
            <p>ご相談ありがとうございます！<br>サプリ単体では効果を発揮しません。ダイエットで最も大切なのは食事管理です。自分に合った適切な食事量、栄養素を把握しコントロールすることがダイエットへの近道です。<br>ダイエットは高額なサプリを買わなくても、しっかりとした知識があれば普段の食費と変わらないぐらいの費用で痩せることが可能ですよ！</p>
            
          </div>
          <div class="message-wrapper-second">
            <%= image_tag("IMG_4300 2.jpg", class:"wrapper-image", size: '300x300') %>
          </div>
        </div>
    </div>
    <div class="message-wrapper">
        <div class="heading">
          <h2>Q, 何度もダイエットに失敗している私でも痩せられますか？</h2>
        </div>
        <div class="wrapper-container">
        <div class="message-wrapper-second">
            <%= image_tag("blank-profile-picture-973460_640.png", class:"wrapper-image", size: '300x300') %>
          </div>
        <div class="message-wrapper-third">
            <p>数々のダイエットに挑戦し、ありとあらゆることを試しきましたが痩せられません。。。<br><br>過去に体型のことで彼氏と別れてしまい、もうダイエットをすることがトラウマになりかけています。もう私にはダイエットは無理だと諦めかけています。体質で痩せられないとかあるんでしょうか？</p>
            
          </div>
        </div>
    </div>
    <div class="message-wrapper">
        <div class="heading">
          <h2>A, 痩せられない体質はありません !</h2>
        </div>
        <div class="wrapper-container">
        <div class="message-wrapper-third">
            <p>太りやすい体質の方は代謝量（エネルギー消費量）が少ない傾向にあります。<br>代謝は食べ物から飲み物まで、摂取するもので変わってきます。食事管理でも十分痩せられますが、適切な運動を取り入れることにより、より代謝量がUPし、痩せやすい体質を期待出来ます。<br>痩せられない体質はありませんので大丈夫ですよ！</p>
            
          </div>
          <div class="message-wrapper-second">
            <%= image_tag("IMG_4300 2.jpg", class:"wrapper-image", size: '300x300') %>
          </div>
        </div>
    </div>

    <div class="message-wrapper">
        <div class="heading">
          <h2>全額返金保証制度は本当ですか？</h2>
        </div>
        <div class="wrapper-container">
        <div class="message-wrapper-second">
            <%= image_tag("blank-profile-picture-973460_640.png", class:"wrapper-image", size: '300x300') %>
          </div>
        <div class="message-wrapper-third">
            <p>今まで色々なダイエットに挑戦しては失敗をして不安です。。。<br>ダイエットは費用だけでなく、エネルギーも使いますし、痩せられなかったことを考えるとそれまでに費やした時間やお金、労力が全て無駄になる気がして一歩踏み出せないです。<br>これが最後のダイエットにしたいです泣</p>
            
          </div>
        </div>
    </div>
    <div class="message-wrapper">
        <div class="heading">
          <h2>全額返金保証制度は本当です！</h2>
        </div>
        <div class="wrapper-container">
        <div class="message-wrapper-third">
            <p>本当です！<br>もし受講から２ヶ月間で一キロも痩せることが出来なければ全額返金させて頂きます。化学的根拠に基づいたダイエット方法とGenziが数々の経験から得た知識で今までのたくさんの方をダイエット成功に導いていることもあり、自信があります。なので全額返金保証制度を設けさせて頂いています。</p>
            
          </div>
          <div class="message-wrapper-second">
            <%= image_tag("IMG_4300 2.jpg", class:"wrapper-image", size: '300x300') %>
          </div>
        </div>
    </div>
  </div>
</div>


<%= render 'shared/footer' %>